* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'noodle';
    src: url(font/big_noodle_titling.ttf);
}

@font-face {
    font-family: 'noodle2';
    src: url(font/big_noodle_titling_oblique.ttf);
}

.header {
    display: flex;
    align-items: center;
    height: 111.6px;
}

.logo {
    height: 83.33px;
    margin-left: 60px;
}

.logo-escrita {
    height: 51.66px;
    margin-left: 33px;
}

.botao-historia {
    font-family: 'noodle';
    color: black;
}

.botao-herois {
    font-family: 'noodle';
    color: black;
}

.botao-mapas {
    font-family: 'noodle';
    color: black;
}

.botao-comprar {
    font-family: 'noodle';
    color: black;
    font-size: 25px;
    margin-left: 60px;
    text-decoration: none; 
    display: inline-block;
    transition: color 0.3s;
}

.botao-comprar .seta-cima {
    display: inline-block;
    font-size: 0.7em;
    line-height: 1.2;
    transform: rotate(0deg); 
    transition: transform 0.3s ease-in-out; 
}

.botao-comprar:hover .seta-cima {
    transform: rotate(180deg);
    color: #DA6025;
}

.botao-comprar:hover{
    color: #DA6025;
}

.botao-inicio {
    font-size: 25px;
    margin-left: 60px;
}

.botao-inicio:hover{
    color: #DA6025;
    border-bottom: 3px solid #000;

}

.seta-cima {
    font-size: 0.7em;
    margin-top: -1.8px;
    line-height: 1.2; 
    display: inline-block; 
    transition: transform 0.3s ease-in-out;
}

.seta-cima:hover {
    transform: rotate(180deg); 
}

.banner{
    width: auto;
    height: auto;
}

.banner-jogo{
    width: 100%;
    height: 752px;
}

.plataformas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: -104px;
    background-color: rgba(255, 255, 255, 0.681);
    object-fit: cover;
    position: relative;
}

.plat{
    height: 73.33px;
    width: auto;
    margin-left: 26.66px;
    margin-right: 26.66px;
    transition: opacity 0.3s;
}

.plat:hover {
    opacity: 0.6;
}